#app-body {
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;   
}
canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: -1;
}

#inspector-container {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 400px;
    bottom: 0px;
    min-width: 150px;
    max-width: 550px;

    padding-left: 4px;
    padding-right: 4px;

    background-color: lightgray;
    transition: right 0.1s linear;
}
#inspector-container.hidden {
    right: -400px;
}

#inspector-container.hidden #inspector-hide-btn.always-visible{
    transform: translateX(-14px)
}

#inspector-container #inspector-hide-btn {
    position: absolute;
    display: inline-block;
    height: 100%;
    top: 0px;
    left: -4px;
    width: 16px;
    margin-right: 0;
    transition: transform 0.1s linear;
}

#inspector-scene-view {
    display: inline-block;
    width: 90%;
    margin-top: 12px;
    margin-left: 28px;
    border-left: 2px solid darkgray;
    border-top: 2px solid darkgray;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    background-color: lightgray;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 15rem;
}

#toolbar-container {
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    position: fixed;
    
    height: 48px;
    width: 50%;
    
    user-select: none;

    background-color: lightgray;
    transition: top 0.1s linear, bottom 0.1s linear;
}

#toolbar-container .always-visible {
    transition: transform 0.1s linear;
}

#toolbar-container.fix-top {
    top: 4px;
    left: 4px;
}

#toolbar-container.fix-top.hidden {
    top: -52px;
}
#toolbar-container.fix-top.hidden .always-visible{
    transform: translateY(56px);
}

#toolbar-container.fix-bottom {
    bottom: 4px;
    left: 4px;
}
#toolbar-container.fix-bottom.hidden {
    bottom: -52px;
}
#toolbar-container.fix-bottom.hidden .always-visible{
    transform: translateY(-56px);
}

#toolbar-container li {
    display: inline-block;
}

.toolbar-group {
    padding-left: 0px;
}
.toolbar-group::before {
    content: 'asd';
    color: #ffffff00;
    background-color: darkgray;
    display: inline-block;
    width: 2px;
    height: 52px;
    transform: translateY(-4px);
    /* margin-right: 4px; */
}

.button {
    background-color: white;
    height: 44px;
    width: 44px;
    text-align: center;
    border-radius: 3px;
    /* border-width: 2px; */
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
}

.button:hover {
    background-color: lightgray;
}

.button:active {
    background-color: darkgray;
    border-left: 2px solid darkgray;
    border-top: 2px solid darkgray;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.heierarchy-container {
    padding-left: 4px;
}

.heierarchy-item {
    list-style: none;
    padding: 0;
    padding-top: 4px;
    margin: 0;
}
.heierarchy-item.selected {
    background-color: lightsteelblue;
}

li.heierarchy-item li.heierarchy-item {
    margin-left: 24px;
}

.heierarchy-item:before {
    display: inline;
    margin-right: 8px;
    color: darkgray;
    content: "\25B6";
}

